Source: gnustep2.0-make
Section: devel
Priority: optional
Maintainer: Debian GNUstep maintainers <pkg-gnustep-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper-compat (= 13), libobjc2-dev, pkg-config
Build-Depends-Indep: texinfo <!nodoc>,
                     texlive-base <!nodoc>,
                     texlive-latex-base <!nodoc>
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: http://gnustep.org

Package: gnustep2.0-common
Architecture: any
Depends: ${misc:Depends}
Provides: gnustep2.0-fslayout-fhs
Conflicts: gnustep-common
Description: Common files for the core GNUstep environment
 This package contains the main GNUstep configuration file, common
 files, scripts and directory layout needed to run any GNUstep
 software.

Package: gnustep2.0-make
Architecture: all
Depends: gnustep2.0-common (>= ${source:Version}),
         gnustep2.0-common (<< ${source:Version}.1~),
         libobjc2-dev,
         lld,
         clang,
         autotools-dev,
         ${misc:Depends},
         ${perl:Depends}
Suggests: gnustep2.0-make-doc
Conflicts: gnustep-make
Description: GNUstep build system
 This package contains the makefiles needed to compile any GNUstep
 software, and the GNUstep Test Framework used by GNUstep packages to
 build and run tests.

Package: gnustep2.0-make-doc
Architecture: all
Conflicts: gnustep-make-doc
Build-Profiles: <!nodoc>
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Description: Documentation for GNUstep Make
 This package contains the GNUstep Make manual in Info, HTML and PDF
 format.  Also included are several documents such as the GNUstep
 HOWTO, FAQ and explanation of the GNUstep filesystem which are useful
 to get familiar with the basic aspects of the GNUstep environment.
