Source: libobjc2
Section: libs
Priority: optional
Maintainer: Hugo Melder <contact@hugomelder.com>
Build-Depends: debhelper-compat (= 13), dh-cmake, cmake, clang, lld
Standards-Version: 4.6.2.0

Package: libobjc2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNUstep Objective-C 2.0 Runtime

Package: libobjc2-dev
Section: libdevel
Architecture: any
Depends: libobjc2 (= ${binary:Version}), ${misc:Depends}
Description: GNUstep Objective-C 2.0 Runtime (development files)
