#!/usr/bin/make -f

%:
	dh $@ --with cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_C_COMPILER=clang \
	-DCMAKE_CXX_COMPILER=clang++ \
	-DCMAKE_LINKER=ld.lld \
	-DBUILD_SHARED_LIBS=YES \
	-DBUILD_TESTING=NO \
	-DINSTALL_PRIVATE_HEADERS=YES \
	-DBlocksRuntime_INCLUDE_DIR=/usr/include \
	-DBlocksRuntime_LIBRARIES=/usr/lib/$(DEB_HOST_MULTIARCH)/libobjc.so

override_dh_dwz:
	dh_dwz || true
